body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle, #fdfdfd, #eeeeee);
}

.main-container {
  display: flex;
  aspect-ratio: 1/1;
  /* little hack to make the container responsive and squared. We use vw for the size of the square and we give it a max width/height using vh (height of the viewport) so it always resizes vertically too. */
  width: 50vw;
  height: 50vw;
  max-width: 80vh;
  max-height: 80vh;
  margin: 0 auto;
  padding: 10px;
  background-color: #2c2c2e;
  border-radius: 20px;
  background-image: radial-gradient(circle, #eef2f3, #33393d),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 100 100'%3E%3Cg fill='%33393d' fill-opacity='0.5'%3E%3Cpath d='M0 0h50v50H0zm50 50h50v50H50zM50 0h50v50H50zm0 50h50v50H50z'/%3E%3C/g%3E%3C/svg%3E");
  background-blend-mode: overlay;
  box-shadow: 8px 8px 30px 5px rgba(0, 0, 0, 0.527);
}

.left-container {
  width: 30%;
  border-radius: 20px;
}

.left-container,
.mini-container {
  box-shadow: 0 0 10px rgba(9, 20, 27, 0.932);
  margin: 10px;
  background-image: linear-gradient(#c3e8f1, #84959b),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='2' viewBox='0 0 100 100'%3E%3Cg fill='%33393d' fill-opacity='0.5'%3E%3Cpath d='M0 0h50v50H0zm50 50h50v50H50zM50 0h50v50H50zm0 50h50v50H50z'/%3E%3C/g%3E%3C/svg%3E");
  background-blend-mode: overlay;
}

.right-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.mini-container {
  flex: 1;
  border-radius: 20px;
}

.mini-container:nth-child(1) {
  height: 20%;
}

.mini-container:nth-child(2) {
  height: 80%;
}

.left-container:hover,
.mini-container:hover {
  cursor: pointer;
  background-color: #2c2c2e;
  background-image: radial-gradient(circle, #eef2f3, #33393d),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 100 100'%3E%3Cg fill='%33393d' fill-opacity='0.5'%3E%3Cpath d='M0 0h50v50H0zm50 50h50v50H50zM50 0h50v50H50zm0 50h50v50H50z'/%3E%3C/g%3E%3C/svg%3E");
  background-blend-mode: overlay;
  transition: background-color 0.3s ease-in-out,
    background-image 0.3s ease-in-out;
  animation: blur-effect 0.4s cubic-bezier(0.075, 0.82, 0.165, 1),
    outline-effect 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards,
    glow-effect 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes blur-effect {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes glow-effect {
  0% {
    box-shadow: 0 0 1px 2px #c3e8f193;
  }
  50% {
    box-shadow: 0 0 8px 3px #c3e8f193;
  }
  100% {
    box-shadow: 0 0 1px 2px #c3e8f193;
  }
}

@keyframes outline-effect {
  0% {
    outline: #c3e8f1b6 solid 0px;
  }
  50% {
    outline: #c3e8f1b6 solid 1px;
  }
  100% {
    outline: #c3e8f1b6 solid 2px;
  }
}
